@page "/counter"

<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Counter
</h2>

<div>
    <p class="text-gray-700 dark:text-gray-200">Current count: @currentCount</p>
    <br>
    <button @onclick="IncrementCount"
        class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        Click me
    </button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
