@page "/"


<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Welcome to your new app.
</h2>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
    <p class="text-gray-700 dark:text-gray-200"> Hello Blazor + Tailwindcss</p>
</div>
